{% extends "layout.html" %}

{% block page_title %}
    Collections - Local
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        <span class="heading-secondary">Collection</span>
        Flooding
      </h1>

      <p class="lede">
        The Flooding collection contains key datasets related to flooding in the UK.  These datasets ... blah blah ....
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h2 class="heading-medium">
        Flood warning
      </h2>
      <p>This record is for Approval for Access product AfA136. Flood Warnings are provided by the constant monitoring of stations and forecasting flooding from rivers or the sea</p>
      <a href="">View dataset</a>
    </div>

    <div class="column-one-half">
      <h2 class="heading-medium">
        Flood defences
      </h2>
      <p>This record is for Approval for Access (AfA) product AfA006. This dataset shows, flood defences protecting against river floods with a 1 per cent (1 in 100) chance of happening each year</p>
      <a href="">View dataset</a>
    </div>

    <div class="column-one-half">
      <h2 class="heading-medium">
        Flood map (England)
      </h2>
      <p>Flood Map shows the areas across England that could be affected by flooding from rivers or the sea. It also shows flood defences and the areas that benefit from them. </p>
      <a href="">View dataset</a>
    </div>

    <div class="column-one-half">
      <h2 class="heading-medium">
        Flood map (Wales)
      </h2>
      <p>Flood Map shows the areas across Wales that could be affected by flooding from rivers or the sea. It also shows flood defences and the areas that benefit from them. </p>
      <a href="">View dataset</a>
    </div>
  </div>

</main>

{% endblock %}
