{% extends "layout.html" %}

{% block page_title %}
    Collections
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Collections
        <span class="heading-secondary">Collections are curated datasets related to a specific topic</span>
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <p class="lede column-full">
      This page lists the most commonly used collections of datasets, blah blah.<br/>
    </p>
  </div>


  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/registers">Registers</a>
        <p>Get authorative, high-quality datasets</p>
      </h1>
    </div>
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/flooding">Flooding</a>
        <p>The key flooding datasets</p>
      </h1>
    </div>
  </div>
</main>

{% endblock %}


