{% extends "layout.html" %}

{% block page_title %}
  Find Data Alpha
{% endblock %}

{% block content %}

<main class="preview" id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="/datasets/{{ datasetName }}" class="link-back">Back to dataset</a>
      <h1 class="heading-large">
        {{ datasetTitle }}
        {% if filename %}
          <span class="heading-secondary">{{ filename }}</span>
        {% endif %}
      </h1>

      {% if not error %}
      <p>You're previewing 5 rows out of the total 2000 in this file.</p>
      <details>
        <summary><span class="summary">How you can visualise this data</span></summary>
        <div class="panel panel-border-narrow">
        <h3 class="heading-small">As a map</h3>
        <p>This table includes latitude and longitude columns, you can visualise it as a map.</p>
        <h3 class="heading-small">As a graph over time</h3>
        <p>This data has dates in it, so you can visualise it as a time series to see evolution over time for example.</p>
        </div>
      </details>
      {% endif %}

      {% if url %}
        <a class="button" href="{{ url }}">Download this file</a>
      {% endif%}

      <section class="preview">
        {% if error %}
          {{ error }}
        {% else %}
          <table>
            <thead>
              {% for heading in previewHeadings %}
                <th>{{ heading }}</th>
              {% endfor %}
            </thead>
            <tbody>
              {% for row in previewData %}
                <tr>
                  {% for key, value in row %}
                    <td>{{ value }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </section>
      <details>
        <summary><span class="summary">Is there anything wrong with this data?</span></summary>
        <div class="panel panel-border-narrow">
          <h3 class="heading-small">The link to this file is broken</h3>
          <p>Broken links often happen when a publisher moves the data on their local system. You should <a href="">contact the publisher</a> and ask them to fix the link.</p>
          <h3 class="heading-small">The data seems incomplete or inaccurate</h3>
          <p>If you believe it is something the publisher should fix,<a href="">contact the publishing organisation</a> to give them feedback and request that they update the data</p>
          <h3 class="heading-small">The data is in the wrong format</h3>
          <p>Sometimes, it is possible to convert from one format to another using existing software. Please check our <a href="">conversion guide</a> for more information.</p>
          <h3 class="heading-small">Something else</h3>
          <p>
              If you believe it is something only the publisher can fix, either by changing the data, or
              adding more data, please <a href="">contact the publisher</a>
            </p>
          <p>
              If the problem is that the search result was unexpected, please <a href="">contact GDS</a>
            </p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}
