{% extends "layout.html" %}

{% block page_title %}
  Find Data Alpha
{% endblock %}

{% block content %}

<main class="preview" id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="#" class="link-back">Back to dataset</a>
      <h1 class="heading-large">Road Safety - Accidents 2015</h1>
      <p>You're previewing 5 rows out of the total 2000 in this file.</p>
      <details>
        <summary><span class="summary">How you can visualise this data</span></summary>
        <div class="panel panel-border-narrow">
        <h3 class="heading-small">As a map</h3>
        <p>This table includes latitude and longitude columns, you can visualise it as a map.</p>
        <h3 class="heading-small">As a graph over time</h3>
        <p>This data has dates in it, so you can visualise it as a time series to see evolution over time for example.</p>
        </div>
      </details>
      <input class="button" type="submit" value="Download this file">
      <section class="preview">
        <table>
          <thead>
            <th>Accident_Index</th><th>Location_Easting_OSGR</th><th>Location_Northing_OSGR</th><th>Longitude</th><th>Latitude</th><th>Police_Force</th><th>Accident_Severity</th><th>Number_of_Vehicles</th><th>Number_of_Casualties</th><th>Date</th><th>Day_of_Week</th><th>Time</th><th>Local_Authority_(District)</th><th>Local_Authority_(Highway)</th><th>1st_Road_Class</th><th>1st_Road_Number</th><th>Road_Type</th><th>Speed_limit</th><th>Junction_Detail</th><th>Junction_Control</th><th>2nd_Road_Class</th><th>2nd_Road_Number</th><th>Pedestrian_Crossing-Human_Control</th><th>Pedestrian_Crossing-Physical_Facilities</th><th>Light_Conditions</th><th>Weather_Conditions</th><th>Road_Surface_Conditions</th><th>Special_Conditions_at_Site</th><th>Carriageway_Hazards</th><th>Urban_or_Rural_Area</th><th>Did_Police_Officer_Attend_Scene_of_Accident</th><th>LSOA_of_Accident_Location</th></tr>
          </thead>
          <tbody>
            <tr><td>201501BS70001</td><td>525130</td><td>180050</td><td>-0.198465</td><td>51.505538</td><td>1</td><td>3</td><td>1</td><td>1</td><td>12/01/2015</td><td>2</td><td>18:45</td><td>12</td><td>E09000020</td><td>5</td><td>0</td><td>6</td><td>30</td><td>3</td><td>4</td><td>6</td><td>0</td><td>0</td><td>0</td><td>4</td><td>1</td><td>1</td><td>0</td><td>0</td><td>1</td><td>1</td><td>E01002825</td></tr>
            <tr><td>201501BS70002</td><td>526530</td><td>178560</td><td>-0.178838</td><td>51.491836</td><td>1</td><td>3</td><td>1</td><td>1</td><td>12/01/2015</td><td>2</td><td>07:50</td><td>12</td><td>E09000020</td><td>6</td><td>0</td><td>6</td><td>30</td><td>3</td><td>4</td><td>3</td><td>3218</td><td>0</td><td>0</td><td>1</td><td>1</td><td>1</td><td>0</td><td>0</td><td>1</td><td>1</td><td>E01002820</td></tr>
            <tr><td>201501BS70004</td><td>524610</td><td>181080</td><td>-0.205590</td><td>51.514910</td><td>1</td><td>3</td><td>1</td><td>1</td><td>12/01/2015</td><td>2</td><td>18:08</td><td>12</td><td>E09000020</td><td>4</td><td>415</td><td>6</td><td>30</td><td>2</td><td>4</td><td>6</td><td>0</td><td>0</td><td>1</td><td>4</td><td>2</td><td>2</td><td>0</td><td>0</td><td>1</td><td>1</td><td>E01002833</td></tr>
            <tr><td>201501BS70005</td><td>524420</td><td>181080</td><td>-0.208327</td><td>51.514952</td><td>1</td><td>3</td><td>1</td><td>1</td><td>13/01/2015</td><td>3</td><td>07:40</td><td>12</td><td>E09000020</td><td>4</td><td>450</td><td>6</td><td>30</td><td>6</td><td>4</td><td>6</td><td>0</td><td>0</td><td>0</td><td>1</td><td>1</td><td>2</td><td>0</td><td>0</td><td>1</td><td>2</td><td>E01002874</td></tr>
            <tr><td>201501BS70008</td><td>524630</td><td>179040</td><td>-0.206022</td><td>51.496572</td><td>1</td><td>2</td><td>2</td><td>1</td><td>09/01/2015</td><td>6</td><td>07:30</td><td>12</td><td>E09000020</td><td>3</td><td>315</td><td>6</td><td>30</td><td>6</td><td>2</td><td>3</td><td>3220</td><td>0</td><td>5</td><td>1</td><td>2</td><td>2</td><td>0</td><td>0</td><td>1</td><td>2</td><td>E01002814</td></tr>
          </tbody>
        </table>
      </section>
      <details>
        <summary><span class="summary">Is there anything wrong with this data?</span></summary>
        <div class="panel panel-border-narrow">
          <h3 class="heading-small">The link to this file is broken</h3>
          <p>Broken links often happen when a publisher moves the data on their local system. You should <a href="">contact the publisher</a> and ask them to fix the link.</p>
          <h3 class="heading-small">The data seems incomplete or inaccurate</h3>
          <p>If you believe it is something the publisher should fix,<a href="">contact the publishing organisation</a> to give them feedback and request that they update the data</p>
          <h3 class="heading-small">The data is in the wrong format</h3>
          <p>Sometimes, it is possible to convert from one format to another using existing software. Please check our <a href="">conversion guide</a> for more information.</p>
          <h3 class="heading-small">Something else</h3>
          <p>
              If you believe it is something only the publisher can fix, either by changing the data, or
              adding more data, please <a href="">contact the publisher</a>
            </p>
          <p>
              If the problem is that the search result was unexpected, please <a href="">contact GDS</a>
            </p>
        </div>
      </details>
    </div>
  </div>
</main>

{% endblock %}
